button.reload {
    font-size: 30px;
}
.phrase {
    font-family: 'Playfair Display';
    margin-top: 20px;
    font-size: 20px;
}
.phrase:empty {
    display: none;
}
.phrase:before {
    content: '„';
}
.phrase:after {
    content: '“';
}